// This container is a custom one, Bootstrap out of the box has 3 containers.
$ContainerPhone: 460px;

// Intermediate small screen / phone. (Custom breakpoint).
$screen-is: 480px;

// Minimum screen size for the custom grid.
$screen-is-min: ($screen-is);

// Maximum screen size for the custom grid.
$screen-is-max: 767px;

// Maximum screen size for Extra small screen / phone (We have to call it before bootstrap).
$screen-xs-max: ($screen-is-min - 1);

/*Including Sass-Bootstrap*/
@import "bootstrap.scss";
@import "grids.scss";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
  }

  h1 {
    margin-bottom: 1em;
  }

  p {
    margin: 1em 0;
  }

  a         { color: #00a; }
  a:hover   { color: #000; }
  a:visited { color: #a0a; }

  .header {

    a {
      font-weight: bold;
      text-decoration: none;
    }

    .title {
      display: inline-block;
      margin-bottom: 2em;

      a {
        color: #a00;

        &:hover {
          color: #000;
        }
      }
    }
  }

  #home {

    .row {

      div {
        border: 3px solid #777777;
        min-height: 250px;
        vertical-align: middle;
        font-size: 16px;
        font-weight: bold;
        background: #eeeeee;
        padding-top: 100px;
      }
    }
  }

  .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;

    .contact {
      float: left;
      margin-right: 3em;

      a {
        color: #8085C1;
      }
    }
  }
}
